@model Contact.Models.ViewModels.ContactViewModel

<div class="container">
    <a href="#" class="btn btn-info" onclick="AddNewContact(0)">Добавить новый контакт</a><br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Номер телефона</th>
                <th>Место работы</th>
                <th>Дата рождения</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="SetContactList">
            @foreach(var item in ViewBag.Contacts)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.JobTitle</td>
                    <td>@item.BirthDate.ToString("d")</td>
                    <td><a href="#" class="btn btn-primary" onclick="EditContactRecord(@item.Id)">Редактировать</a></td>
                    <td><a href="#" class="btn btn-danger" onclick="DeleteContactRecord(@item.Id)">Удалить</a></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="modal fade" id="CreateEditModal" onload="LoadForm()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalTitle"></h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="SubmitForm">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label><br />
                                <input type="text" asp-for="Name" class="form-control" />
                                <div class="errors" style="height: 20px; color: red;"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label><br />
                                <input type="text" asp-for="PhoneNumber" class="form-control" />
                                <div class="errors" style="height: 20px; color: red;"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="JobTitle"></label><br />
                                <input type="text" asp-for="JobTitle" class="form-control" />
                                <div class="errors" style="height: 20px; color: red;"></div>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate"></label><br />
                                <input type="date" asp-for="BirthDate" class="form-control" />
                                <div class="errors" style="height: 20px; color: red;"></div>
                            </div>
                            <div class="form-group">
                                <a href="#" class="btn btn-block btn-danger" id="SaveContactRecord" onclick="SaveContactRecord()">Сохранить</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Удалить контакт</h4>
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h6>Вы уверены в том, что хотите удалить этот контакт?</h6>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Отмена</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Подтверждение</a>
                </div>
            </div>
        </div>
    </div>


</div>

@*<script src="~/lib/imask/imask.min.js"></script>*@

<script>
       
    //function checkForm(name, phoneNumber, jobTitle, birthDate) {

    //    let flag = true;

    //    if (name.value == "") {
    //        name.nextElementSibling.innerText = "Имя не заполнено!";
    //        flag = false;
    //    }
    //    if (jobTitle.value == "") {
    //        jobTitle.nextElementSibling.innerText = "Место работы не заполнено!";
    //        flag = false;
    //    }
    //    if (phoneNumber.value.indexOf("_") >= 0) {
    //        phoneNumber.nextElementSibling.innerText = "Номер телефона не заполнен!";
    //        flag = false;
    //    }
    //    if (birthDate.value == "") {
    //        birthDate.nextElementSibling.innerText = "Дата рождения не заполнена!";
    //        flag = false;
    //    }

    //    return flag;

    //}

    //function AddNewContact(ContactId)
    //{
    //    $("#form")[0].reset();
    //    $("#Id").val(ContactId);
    //    $("#ModalTitle").html("Добавить новый контакт");
    //    const phoneNumber = document.getElementById("PhoneNumber");
    //    const maskOptions = {
    //        mask: "+375(00)000-00-00",
    //        lazy: false
    //    };

    //    var mask = new IMask(phoneNumber, maskOptions);
    //    $("#CreateEditModal").modal();
    //}

    //function EditContactRecord(ContactId) {
    //    const phoneNumber = document.getElementById("PhoneNumber");
    //    const maskOptions = {
    //        mask: "+375(00)000-00-00",
    //        lazy: false
    //    };

    //    var mask = new IMask(phoneNumber, maskOptions);
    //    var url = "/Contact/GetContactById?ContactId=" + ContactId;
    //    $("#ModalTitle").html("Изменить контакт");
    //    $("#CreateEditModal").modal();
    //    $.ajax({
    //        type: "GET",
    //        url: url,
    //        success: function (data) {
    //            var obj = JSON.parse(data);
    //            var date = new Date(obj.BirthDate).toLocaleDateString();
    //            $("#Id").val(obj.Id);
    //            $("#Name").val(obj.Name);
    //            $("#PhoneNumber").val(obj.PhoneNumber);
    //            $("#JobTitle").val(obj.JobTitle);
    //            $("#BirthDate").val(date.split(".").reverse().join("-"));
    //        }
    //    });
    //}


    //function SaveContactRecord() {
    //    const name = document.getElementById("Name");

    //    const phoneNumber = document.getElementById("PhoneNumber");

    //    const jobTitle = document.getElementById("JobTitle");

    //    const birthDate = document.getElementById("BirthDate");

    //    let result = checkForm(name, phoneNumber, jobTitle, birthDate);

    //    if (!result) {
    //        event.preventDefault();
    //    }
    //    else
    //    {
    //        var data = $("#SubmitForm").serialize();
    //        $.ajax({
    //            type: "POST",
    //            url: "/Contact/SaveContactInDatabase",
    //            data: data,
    //            success: function () {
    //                window.location.href = "/Contact/index";
    //                $("#CreateEditModal").modal("hide");
    //            }
    //        });
    //    }

    //}





    //var DeleteContactRecord = function (ContactId) {
    //    $("#Id").val(ContactId);
    //    $("#DeleteConfirmation").modal("show");
    //}

    //var ConfirmDelete = function () {
    //    var ContactId = $("#Id").val();
    //    $.ajax({
    //        type: "POST",
    //        url: "/Contact/DeleteContactRecord?ContactId=" + ContactId,
    //        success: function () {
    //            $("#DeleteConfirmation").modal("hide");
    //            location.reload();
    //        }
    //    })
    //}

</script>
